<!DOCTYPE html>
<html>
    <%- include("includes/head")%>
    <body>
        <%- include("includes/header")%>
        <main>
            <h2>Welcome to your dashboard</h2>
            <p>hhhhhhhhhhhhhhhh</p>
        </main>
        <%- include("includes/footer")%>
    </body>
</html>