<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header>
            <h2><a href="/">Our App</a></h2>
            <nav>
                <!--if user=true, they're logged in, it's a valid token-->
                <!--if they're logged in, show them the create post and log out options with corresponding routes-->
                <% if(user){%>
                    <a href="/create-post">Create Post</a>
                    <a href="/logout">Log Out</a>
                <%} else {%>
                    <!--otherwise if they're not logged in, show them the login option-->
                    <a href="/login">Log In</a>
                <% }%>
            </nav>
        </header>
        <main>
            
        </main>
        <footer>
            <small>&copy;Our App</small>
        </footer>
    </body>
</html>