<!DOCTYPE html>
<html>
    <%-include("includes/head")%>
    <body>
        <!--this avoids that large same text on each page and just renders it-->
        <%- include("includes/header")%>
        <main>
            <!--post creates new user -->
            <!--form action tells what to do-->
            <form action="/register" method="POST">
            <!--this adds JS that shows the error-->
            <% errors.forEach(error => { %>
                <!--the = makes it escape the output text??????-->
                <p class="notice"><%= error %></p>
            <% }) %>
            <fieldset>
                <legend>Create an account</legend>
                <label for="username"><small>Username</small></label>
                <input type="text" id="username" name="username">
                <label for="password"><small>Password</small></label>
                <input type="password" id="password" name="password">
                <br/>
                <button>Sign up</button>
            </fieldset>
            </form>
        </main>
        <%- include("includes/footer")%>
    </body>
</html>